@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #f8f9fa;
    padding-top: 56px;
}

.navbar {
    background-color: rgba(248, 249, 250, 0.5) !important;
}

.navbar-logo {
    height: 50px;
    width: auto;
    object-fit: contain;
}

.hero-section {
    padding: 80px 0;
    background-color: #ffffff;
    border-bottom: 1px solid #dee2e6;
}

.contact-section-hero-style {
    padding: 40px 0;
    background-color: #ffffff;
    border-top: 1px solid #dee2e6;
}

.project-card,
.contact-card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.project-card:hover,
.contact-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
}

.profile-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
}